body {
    margin-top: -1%;
}
#main_header {
    height: 70vh;
    width: 100vw;
    background-attachment: fixed;
    background: linear-gradient( RGBA(179, 58, 99, .9), RGBA(179, 58, 99, .9)), url("images/bord.jpg");
    background-position: bottom;
    background-size: cover;
    position: relative;
}

#main_header .main_header_text {
    width: auto;
    position: inherit;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#main_header .main_header_text h1 {
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

#main_header .main_header_text p {
    font-style: italic;
}

 

#main_team {
    margin-top: 400px;
}
.img1 {
    width:45%;
    border-radius: 50%;
}

.img2 {
    width:45%;
    border-radius: 50%;
}

.img3 {
    width:45%;
    border-radius: 50%;
}
#main_social {
    background-color: rgb(185, 185, 185);
    text-align: center;
    height:400px;
}
.social_text{
    padding-top: 40px;
}
 #contact{
     background-color:#C53163;
     text-align: center;
     height:400px;
 }
 .contact_text {
     padding-top: 40px;
 }
 #yukari{
    z-index:100;    
    position:fixed;
    bottom:10px;    
    right:10px;    
    display:none   
}
#yukari_boyut
{
    width:50px;    
    height:50px    
}