body {
    margin-top: -1%;
}
#main_header {
    height: 70vh;
    width: 100vw;
    background-attachment: fixed;
    background: linear-gradient( RGBA(179, 58, 99, .9), RGBA(179, 58, 99, .9)), url("images/bord.jpg");
    background-position: bottom;
    background-size: cover;
    position: relative;
}

#main_header .main_header_text {
    width: auto;
    position: inherit;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#main_header .main_header_text h1 {
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

#main_header .main_header_text p {
    font-style: italic;
}

 

#main_team {
    margin-top: 400px;
}
.img1 {
    width:45%;
    border-radius: 50%;
}

.img2 {
    width:45%;
    border-radius: 50%;
}

.img3 {
    width:45%;
    border-radius: 50%;
}
#main_social {
    background-color: rgb(185, 185, 185);
    text-align: center;
    height:400px;
}
.social_text{
    padding-top: 40px;
}

 footer {
     background-color: rgba(82, 116, 160, 0.664);
 }
 #yukari{
    z-index:100;    
    position:fixed;
    bottom:10px;    
    right:10px;    
    display:none   
}
#yukari_boyut
{
    width:50px;    
    height:50px    
}
#instagram {
	margin:0;
	padding:0;
	overflow:hidden;
}

#instagram li {
	list-style:none;
	float:left;
	margin:0 20px 20px 0;
}

.wrapper {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
  
  i {
    padding: 0px 10px;
  }
  
  .wrapper i:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }
  
  .wrapper i:nth-child(2) {
    color: #1DA1F2;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }
  
  .wrapper i:nth-child(3) {
    color: #444;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
  }
  .wrapper i:nth-child(4) {
    color: #fffc00;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  .wrapper i:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }